<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
            <h1><%=@region_name.region_name%>のサウナ一覧</h1>
          <table class="table">
            <!--テーブルヘッダ-->
            <thead>
              <tr>
                <th>サウナ名</th>
                <th>いいね数</th>
                <th>レビュー数</th>
                <th>Tag</th>
              </tr>
            </thead>
            <!--テーブルの項目設定(投稿承認されたもの=is_approveがtrueのみのものを表示)-->
           <% @region_name.saunas.each do |sauna| %>
            <% if sauna.is_approve==true%>
           <tbody>
             <tr>
               <td><div><%= link_to sauna_path(sauna.id) do %><%= sauna.name%><% end %></div></td>
               <td><div></div></td>
               <td><div></div></td>
               <td><div></div></td>
             </tr>
           </tbody>
             <% end %>
           <% end %>
           </table>
           <%= link_to "絞り込み表示",new_search_path %>
         </div>
       </div>
    </div>
 </body>

 </html>
