<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
          <h1>マイページ</h1>
            <div class="text-left pt-4 pb-3">
            <h4>氏名</h4>
              <div class="text-center"><%= @mypage.name %></div>
            </div>

            <div class="text-left pt-4 pb-3">
            <h4>フリガナ</h4>
              <div class="text-center"><%= @mypage.name_kana%></div>
            </div>

            <div class="text-left pt-4 pb-3">
            <h4>出身地</h4>
              <div class="text-center"><%= @mypage.birth_place %></div>
            </div>

            <div class="text-center">
              <%=link_to "行きたいリスト",mypage_favorite_path(@mypage.id) , method: :GET, class: 'btn btn-success' %>
            </div>
        </div>
      </div>
    </div>
  </body>
 </html>