<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
          <h1>申請内容確認</h1>

              <div class="text-left pt-2 pb-1">
                <h4>サウナ名</h4>
                  <div class="text-center"><%= @sauna.name %></div>
              </div>

              <div class="text-left pt-2 pb-1">
                <h4>地域</h4>
                  <div class="text-center"><%= @sauna.region.region_name %></div>
              </div>


              <div class="text-left pt-2 pb-1">
                <h4>所在地</h4>
                  <div class="text-center"><%= @sauna.location %></div>
              </div>


              <div class="text-left pt-2 pb-1">
                <h4>価格</h4>
                  <div class="text-center"><%= @sauna.price%></div>
              </div>


              <div class="text-left pt-2 pb-1">
                <h4>投稿理由</h4>
                  <div class="text-center"><%= @sauna.post_reason %></div>
              </div>

               <div class="text-left pt-2 pb-1">
                <h4>画像</h4>
                  <div class="text-center"><%= image_tag @sauna.get_iamge(100,100) %></div>
               </div>

                <div class="text-left pt-2 pb-1">
                <h4>タグ</h4>
                  <div class="text-center"><% @sauna.tags.each do |tag|%><%= tag.tag_name%>,<% end %></div>
               </div>


              <div class="text-center">
                <%=link_to "申請"  ,saunas_complete_path , method: :GET, class: 'btn btn-primary' %>
              </div>
         </div>
      </div>
    </div>
  </body>
 </html>