<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="container">
       <div class="row">
        <div class="col-md-3">
　　　　<h1>画像表示予定</h1>
　　　　<%= form_with model: @sauna ,url: new_review_path, method: :GET do |f|%>
　　　　<!--サウナidを渡す-->
　　　　<%= f.hidden_field :id , :value => @sauna.id%>
　　　　<%= f.submit "レビューする", class:  'btn btn-success btn-lg '%>
　　　　<% end %>
        </div>

        <div class="col-md-8 offset-md-1">
          <div>投稿サウナ<%=@sauna.name%></div>
          <div>投稿日<%=@sauna.updated_at%></div>
          <div>地域<%=@sauna.region.region_name%></div>
          <div>所在地<%=@sauna.location%></div>
          <div>金額　¥<%=@sauna.price%></div>
          <div>投稿理由<%=@sauna.post_reason%></div>
        </div>
      </div>
    </div>
  </body>
</html>
