<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="container">
       <div class="row">
        <div class="col-md-3">
　　　　<h1>画像表示予定</h1>
　　　　<%= form_with model: @sauna ,url: new_review_path, method: :GET do |f|%>
　　　　<!--サウナidを渡す-->
　　　　<%= f.hidden_field :id , :value => @sauna.id%>
　　　　<%= f.submit "レビューする", class:  'btn btn-success btn-lg '%>
　　　　<% end %>
        </div>

        <div class="col-md-8 offset-md-1">
          <div>投稿サウナ<%=@sauna.name%></div>
          <div>投稿日<%=@sauna.updated_at%></div>
          <div>地域<%=@sauna.region.region_name%></div>
          <div>所在地<%=@sauna.location%></div>
          <div>金額　¥<%=@sauna.price%></div>
          <div>投稿理由<%=@sauna.post_reason%></div>
        </div>
      </div>
    </div>
      <!--いいね機能-->
      <!--今ログインしているユーザーがそのサウナ情報にいいねしているかしていないかを判定-->
      <%if @sauna.favorited_by?(current_member)%>
        <!--すでにいいねしている場合-->
        <p><%= link_to sauna_favorites_path(@sauna),method: :DELETE do%>🖤<%= @sauna.favorites.count %>いいね
          <% end %>
        </p>
      <% else %>
        <!--いいねをまだしていない場合-->
        <p><%= link_to sauna_favorites_path(@sauna),method: :POST do%>🤍<%= @sauna.favorites.count %>いいね
          <% end %>
        </p>
      <% end %>
      <!--レビューページ-->
      <% @review.each do |r|%>
      <div>レビュー件数 <%= @review.count %>件</div>
        <div>レビュー者:<%=r.member.name%></div>
        <div>内容:<%=r.review_content%></div>
        <%= link_to 'もっと見る' ,review_path(r.id) %>
      <% end %>
  </body>
</html>
