<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
     <%= form_with model: @review ,url: reviews_path, method: :POST do |f| %>
     <form class="form-horizontal">
              <div class="form-group row my-3">
               <label class="col-sm-6"><h1>レビュー投稿</h1></label>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">レビューサウナ</label>
                 <dd><label class="col-sm-4"><%= @sauna.name %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">レビューユーザー</label>
                 <dd><label class="col-sm-4"><%= @member %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">レビュー内容</label>
                <dd><label class="col-sm-4"><%= f.text_field :review_content %></label></dd>
              </div>

              <!--hidden_fieldでサウナ情報と今ログインしているユーザー情報を渡す-->
                <!--サウナ情報ー-->
                <%= f.hidden_field :sauna_id , :value => @sauna.id%>
                <!--ログインユーザー-->
                <%= f.hidden_field :member_id , :value => current_member.id%>

              <div class="form-group row my-3">
                <label class="col-sm-4"><%= f.submit "レビューする",class: 'btn btn-success btn-lg '%></label>
              </div>
      <% end %>
    </main>
  </body>
</html>

