<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
     <%= form_with model: @review ,url: reviews_path, method: :POST do |f| %>
       <div class="container">
         <div class="row">
           <div class="col-md-8">
                <h1>レビュー投稿</h1>
           </div>
         </div>

        <div class="row">
          <div class="col-md-5 title">レビューサウナ</div>
          <div class="col-md-5"><%= @sauna.name %></div>
        </div>

        <div class="row">
          <div class="col-md-5 title">レビューユーザー</div>
          <div class="col-md-5"><%= @member %></div>
        </div>

        <div class="row">
          <div class="col-md-5 title">レビュー内容</div>
          <div class="col-md-5"><%= f.text_area :review_content,size: "30x3" %></div>
        </div>
        <!--hidden_fieldでサウナ情報と今ログインしているユーザー情報を渡す-->
            <!--サウナ情報ー-->
            <%= f.hidden_field :sauna_id , :value => @sauna.id%>
            <!--ログインユーザー-->
            <%= f.hidden_field :member_id , :value => current_member.id%>

        <div class="review">
          <%= f.submit "レビューする",class: 'btn btn-success'%>
        </div>
      </div>
      <% end %>
    </main>
  </body>
</html>

