<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
          <div class = "col-md-8">
              <h2>レビュー内容</h2>
          </div>
      </div>

       <div class="row">
          <div class="col review_content">
              <div>レビュー者:<%=@review_detail.member.name%></div>
              <div>内容:<%=@review_detail.review_content%></div>
          </div>
       </div>

       <div class="row">
            <div class = "col-md-8">
             <h3>コメント欄</h3>
            </div>
           </div>

           <div class="row comment">
              <!--開いている投稿詳細に付随しているコメントを全件取得-->
              <% @review_detail.comments.each do |comment|%>
              <div class="col-md-4 md4">
                <div>返信ユーザー:<%=comment.member.name%></div>
              </div>
              <div class="col-md-8 md8">
              <div><%=comment.comment_content%></div>
              </div>
            <% end %>
           </div>

        <div class="row">
          <div class="col center">
            <!--コメント投稿用のフォーム-->
            <%= form_with model: @comment,url: reviews_comment_create_path, method: :POST do |c|%>
            <%= c.text_area :comment_content ,size: "30x5" ,placeholder: "コメント投稿欄"%>
            <!--レビュー情報を渡す-->
            <%= c.hidden_field :review_id , :value => @review_detail.id %>
            <%= c.submit 'コメントする'%>
            <% end %>
          </div>
        </div>
      </div>
   </div>
 </body>

 </html>
