<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
          <div class = "col-md-8">
              <h1>レビュー内容</h1>
          </div>
      </div>

       <div class="row">
          <div class="col-md-3 md3">
              <div>レビュー者:<%=@review_detail.member.name%></div>
          </div>

          <div class="col-md-9 md9">
              <div>内容:<%=@review_detail.review_content%></div>
            </div>
       </div>

      <div class="comment">
       <div class="row row1">
          <div class = "col-md-8">
              <h3>コメント投稿欄</h3>
          </div>
        </div>

        <div class="row">
          <div class="col center">
            <!--コメント投稿用のフォーム-->
            <%= form_with model: @comment,url: reviews_comment_create_path, method: :POST do |c|%>
            <%= c.text_field :comment_content %>
            <!--レビュー情報を渡す-->
            <%= c.hidden_field :review_id , :value => @review_detail.id %>
            <%= c.submit 'コメントする'%>
            <% end %>
          </div>
        </div>
      </div>
        <!--開いている投稿詳細に付随しているコメントを全件取得-->
        <% @review_detail.comments.each do |comment|%>
        <div>返信者：<%=comment.member.name%></div>
        <div><%=comment.comment_content%></div>
        <% end %>
   </div>
 </body>

 </html>
