<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
     <%= form_with model: @sauna ,url: searchs_path, method: :POST do |f| %>
     <form class="form-horizontal">
              <div class="form-group row my-3">
               <label class="col-sm-6"><h1>絞り込み条件を選択してください</h1></label>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">金額</label>
                 <dd><label class="col-sm-4"><%= f.text_field :price%></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">いいね数</label>
                 <dd><label class="col-sm-4"></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">レビュー数</label>
                 <dd><label class="col-sm-4"></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4"><%= f.submit "表示する",class: 'btn btn-success btn-lg '%></label>
              </div>
      <% end %>
    </main>
  </body>
</html>

