<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
     <div class="container">
       <div class="row">
        <div class="mx-auto">
            <h2>会員ログイン</h2>
            <div>
              <!--ログイン制限に違反している際のメッセージ-->
              <%= flash[:notice] %>
            </div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="text-left">メールアドレス</div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,size: 30%>
              <div class="text-left">パスワード</div>
                <%= f.password_field :password, autocomplete: "current-password" %>
              <div class="actions">
                <div class="text-center pt-4 pb-3"><%= f.submit "ログイン" ,class: 'btn btn-success'%></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
