<!DOCTYPE html>
<html>
  <head>
    <title>SaunaReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0ea1809b33.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class= "shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand p-3" href="/"><%= image_tag('icon.png') %>SAUNAER</a>
        <div class = "collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">

                <% if member_signed_in? %>
                  <% if session[:guest_sign_in] %>
                    <div class="guest">ゲストログイン中です</div>
                  <% end %>
                  <li class="nav-item "><%= link_to "マイページ",mypage_path(current_member.id), method: :GET, class: 'nav-link text-dark' %></li>
                  <li class="nav-item"><%= link_to "サウナ一",regions_path, method: :GET, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "投稿",new_sauna_path, method: :GET, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "ログアウト",destroy_member_session_path, method: :delete, class: 'nav-link text-dark'%></li>
                  <div class="row　display: flex; flex-wrap: wrap;">
                    <li>
                      <%= form_with model: @tag, url: tags_search_path, method: :POST do |t|%>
                      <%=t.text_field :tag_name, placeholder: "タグ検索欄"%>
                      <%=t.submit '検索'%>
                      <% end %>
                    </li>
                  </div>
                <% elsif admin_signed_in? %>
                <!--管理者用のヘッダー-->
                　<li class="nav-item"><%= link_to "レビュー管理",admin_reviews_path, method: :GET, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "会員一覧",admin_members_path, method: :GET, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "投稿承認待ち",admin_posts_path, method: :GET, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'%></li>
                <% else %>
                  <li class="nav-item"><%= link_to "新規登録",new_member_registration_path, class: 'nav-link text-dark'%></li>
                  <li class="nav-item"><%= link_to "ログイン",homes_login_path, class: 'nav-link text-dark'%></li>
                <% end %>
          </ul>
        </div>
      </div>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
